* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background: #151515;
  font-family: "lora-regular", serif;
  font-size: 1.7rem;
  line-height: 3rem;
  color: #6e6e6e;
}
h1 .title {
  font-size: 100px;
}
brand-name {
  display: flex;
  justify-content: center;
}
brand-checkbox {
  display: flex;
  flex-direction: column;
}